<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/procesos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <div class="container-tareas">
                    <h1>Lista de Procesos</h1>
                    <div class="search-tareas">
                        <form class="Formulario-tareas">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-2" class="boton-tareas" > Agregar proceso...</button>
                        </form>
                    </div>
                </div>

                <!-- Tabla -->

                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2"><i class="fa-solid fa-hashtag"></i> Número proceso</th>
                            <th scope="col"><i class="fa-solid fa-heading"></i> Titulo</th>
                            <th scope="col" class="col-3"><i class="fa-solid fa-book"></i> Descripcion</th>
                            <th scope="col" class="col-3"><i class="fa-regular fa-calendar-days"></i> Periodo de tiempo</th>
                            <th scope="col" class="col-1"><i class="fa-regular fa-eye"></i> Vista</th>
                            <th scope="col"><i class="fa-regular fa-user"></i> Asignado</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for datos in data %}
                        <tr>
                            <td>{{datos.id_proceso}}</td>
                            <td>{{datos.Titulo}}</td>
                            <td class="descripcion" >{{datos.Descripcion}}</td>
                            <td>{{datos.Fecha_creacion}} // {{datos.Fecha_terminación}}</td>
                            <td><button type="button" data-bs-toggle="modal" data-bs-target="#modal-3{{datos.id_proceso}}" class="btn btn-primary btn-sm" >Ver más...</button></td>  
                        </tr>

                        <!-- modal -->
                        <div class="modal fade" id="modal{{datos.id_proceso}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{datos.username}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit/{{datos.id_proceso}}" method="post">
                                            <label>Titulo</label>
                                            <input type="text" class="form-control mb-3" name="Titulo"
                                                value="{{datos.Titulo}}">
                                            <label>Descripcion</label>
                                            <input type="text" class="form-control mb-3" name="Descripcion"
                                                value="{{datos.Descripcion}}">

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin modal -->

                        <!-- Modal-2 -->
                        <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo proceso</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                <!-- Cuerpo del modal donde encontramos el formualrio con los datos del usario -->
                                    <div class="modal-body">
                                        <form action="/proceso" method="POST">
                                            <div class="row mb-3">
                                                <label>Titulo</label>
                                                <input type="text" class="form-control mb-3" name="Titulo">
                        
                                                <label>Descripcion</label>
                                                <input type="text" class="form-control mb-3" name="Descripcion">   
                                                
                                                <label for="fecha">Fecha Limite:</label>
                                                <input type="date" class="form-control mb-3" id="fecha" name="fecha">

                                                <label for="formFileSm" class="form-label"></label>
                                                <input class="form-control form-control-sm" id="formFileSm" type="file" name="archivo">

                                                <div class="mb-3">
                                                    
                                                </div>

                                                <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>       
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin modal-2 -->

                        <!-- Modal-3 -->
                        <div class="modal fade" id="modal-3{{datos.id_proceso}}" tabindex="-1" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{datos.Titulo}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                <!-- Cuerpo del modal donde encontramos el formualrio con los datos del usario -->
                                    <div class="modal-body">
                                        <p class="text-break">
                                            {{datos.Descripcion}}
                                        </p>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-primary btn-sm" id="btn-edit{{datos.id_proceso}}" data-bs-toggle="modal"
                                                data-bs-target="#modal{{datos.id_proceso}}">Editar proceso</button>
                                        <a href="{{url_for('delete', idP=datos.id_proceso)}}" class="btn btn-danger btn-sm">Borrar proceso</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Fin modal-3 -->

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="../static/js/procesos.js"></script>
<script src="https://kit.fontawesome.com/9c61ead5a6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
crossorigin="anonymous"></script>

</html>