
{%block rico%}
<p>rico!</p>
{%endblock%}
<button class="btnAsignar" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
        class="fa-solid fa-user"></i> Asignar
    personal...!!!</button>
<br><br>
<hr>

<ul class="dropdown-menu">
    {% for Usuario in datosU %}
    <li>
        <input type="checkbox" class="usuariosSelect" name="usuarios_seleccionados" value="{{ Usuario.id }}"
            id="{{Usuario.id}}">
        <label for="{{Usuario.id}}" id="AsignarUsu" class="NombreUsuario">
            {{Usuario.fullname}}
        </label>
    </li>
    {% endfor %}
</ul>