h1 {
    text-align: center;
    color: darkslategrey;
}

.container-tareas {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
}

.search-tareas {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.Formulario-tareas {
    display: flex;
    width: 100%;
}

.Titulo-tarea {
    padding: 15px 10px;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
}

.boton-tareas {
    padding: 15px 10px;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(153, 189, 255);
}

.boton-tareas:hover {
    cursor: pointer;
    color: antiquewhite;
    background-color: #16425B;
    font-size: 1.1rem;
}


.li-container-tareas {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}

.tareas-creadas {
    padding: 0;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: lightseagreen;
}

.empty {
    color: darkslategrey;
}

table {
    border-radius: 50px !important;
    border-collapse: collapse !important;
    border-color: #c0c0c0 !important;
    table-layout: fixed !important;
}

tr {
    background: #6096ba !important;
    font-size: 1rem;
}

td {
    background: #f7f7f7 !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.btnAsignar {
    outline: none;
    height: 2.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(12, 0, 17);
    background-color: rgb(153, 189, 255);
}

.btnAsignar:hover {
    font-size: 1.05rem;
    outline: none;
    height: 2.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(119, 165, 252);
}

.btnReport {
    padding: 4.2px !important;
    color: rgb(0, 0, 0) !important;
    border-color: #ffffff00 !important;
    background-color: rgb(152, 203, 216) !important;
}

.btnReport:hover {
    padding: 4.2px !important;
    color: rgb(255, 255, 255) !important;
    border-color: #ffffff00 !important;
    background-color: rgb(119, 165, 252) !important;
}

.text-break {
    text-align: justify;
    width: 80%;
}

.icono {
    border-radius: 50% !important;
    background-color: #82b1e7 !important;
    color: #ffffff !important;
    font-size: 1.5rem !important;
    margin-left: 18rem !important;
}

.icono:hover {
    color: #414141 !important;
}

.dropdown-menu {
    width: 99% !important; 
    overflow-y: auto; 
}
#submenu{
    width: 30% !important; 
    overflow-y: auto;
}
.dropdown-menu li {
    background-color: rgba(142, 180, 252, 0) !important;
}

.dropdowns-menu {
    width: 99% !important; 
    overflow-y: auto; 
}
.dropdowns-menu li {
    background-color: rgba(142, 180, 252, 0) !important;
}

.NombreUsuario{
    cursor: pointer;
    width: 95%;
    text-align: center;
    border: solid 0.3px;
    border-color: #aca6a6 !important;
    border-radius: 6px;
}

.usuariosSelect[type="checkbox"]:checked + .NombreUsuario{
    cursor: pointer;
    background-color: #82b1e7;
    width: 95%;
    text-align: center;
    color: #f7f7f7;
}

.usuariosSelect{
    opacity: 0;
}

.UsuariosAsignados{
    width: 100%;
    text-align: center;
}

.boton{
    height: 2.2rem !important;
}

.NombreAsignado{
    border-radius: 10px;
    background-color: #f1faee;
}

.NombreAsignado label{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 4px;
}

.btnEliminarAsignacion{
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    background: none;
    float: right;
}

.eliminar{
    border-color: #a4161a !important;
    background-color: #a4161a !important;
}

.principal{
    color: black !important;
    border-color: #62b6cb !important;
    background-color: #62b6cb !important;
}

.secundario{
    border-color: #33415c !important;
    background-color: #33415c !important;
}